<div class="modal-container">
  <h3 style="text-align: center">Edit a List</h3>
  <form>
    <mat-form-field appearance='fill' style="width: 100%">
      <mat-label>List name</mat-label>
      <input
        type="text"
        [ngModelOptions]="{standalone: true}"
        value="data.listTitleToEdit"
        (keydown)="noFirstSpace($event)"
        [(ngModel)]="data.listTitleToEdit"
        #inputTitle
        style="font-size: 18px"
        matInput >
    </mat-form-field>
    <mat-error style="text-align: center" *ngIf="inputTitle.value.length === 0 || inputTitle.value.length > 15">
      <p>Min length is 1 and max is 15</p>
    </mat-error>
    <div class="button-container">
      <button mat-button color="warn" type="button" (click)="onNoClick()">Close</button>
      <button type='submit' [disabled]="inputTitle.value.length === 0 || inputTitle.value.length > 15" mat-button color="primary" [mat-dialog-close]="data.listTitleToEdit" >Edit</button>
    </div>
  </form>
</div>
